@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }

body {
    font-family: "Helvetica", "sans-serif";
    background: #FFFFFF;
    width: 762px;
    margin: 1% auto;
}
/*
div {
    width: 1000px;
}
*/
div.stander {
    border: 1px solid #73808c;
}

header div {
    border: 1px solid #636363;
    text-align: center;
    width: 760px;
    height: 110px;
}

div.RealTimeMsg{
    background-image: url("../img/top.gif");
}

div.RTMsg {
    color: #636363;
    font-family: "Helvetica", "sans-serif";
    margin: 5% 0 0 25%;
    border: 0;
}

nav div {
    border: 1px solid #636363;
    background-color: #C0C0C0;
    height: 30px;
}

div.AdminSelect {
    border: 1px solid #FFFFFF;
}

/* START selectBar.blade.php */
nav div {
    overflow: hidden;
    display:table;
    width: 760px;
}

nav div ul {
    white-space: nowrap;
    margin: 5px 0 0 0;
}

nav div ul li {
    margin: 4%;
    display: inline;
}
/* END selectBar.blade.php */